/* Asterisk wildcard selector to override default styles added by the browser */
/* FOR THE LOVE OF GOD JESS SAVE AND PUSH THE DOC!!!!!! */


/* Google fonts import */

.oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

/* additional lato fonts */
.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
};


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* end font styling !!!!!! */



/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "lato-regular", sans-serif;
    /* Generic project styles */
    color: #3a3a3a;
}


/* Header */
header {
    background-color:#ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;

}

/* anchor tags which are children of the header */

header a {
  text-decoration: none;
  color: inherit;

}


h1 {
    font-family: "oswald", sans-serif;
    text-transform:uppercase;
    letter-spacing: 2px;
    color: #252525;

}

.menu {
  font-size: 110%;
  letter-spacing: 4px;
  list-style-type: none;
}

/* Main content */
main {
    background-color: lightblue;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: orange;
}